##Database 
PORT=3000
MONGODB_URI=mongodb+srv://s00253714_db_user:<db_password>@cluster0.agvbnhx.mongodb.net/

## node environment
NODE_ENV=development

## Extension ID 
# humao.rest-client

## Package commands
# npm install zod
# npm install swagger-jsdoc 
# npm install swagger-ui-express